{{!
This file is part of Moodle - http://moodle.org/
Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses />.
}}
{{!
@template mod_flexbook/editor/editor
TODO describe template editor
Example context (json):
{
}
}}
<div id="flexbook-container"
     class="container-fluid p-0 m-0 position-relative"
     data-complete="{{completed}}"
     role="main">
    <div id="wrapper" class="editor-layout d-flex">
        <!-- Main Preview Stage -->
        <div id="editor-stage" class="flex-grow-1 d-flex flex-column {{#displayoptions.darkmode}}bg-dark{{/displayoptions.darkmode}} position-relative overflow-hidden">
            <div id="editor-stage-main" class="flex-grow-1 d-flex align-items-center justify-content-center overflow-hidden position-relative">
                <div id="video-wrapper" {{#displayoptions.aspectratio}} data-ratio="{{displayoptions.aspectratio}}" {{/displayoptions.aspectratio}}
                     class="d-flex align-items-center justify-content-center position-relative fb">
                    {{> mod_interactivevideo/backgroundloading}}
                    <div id="annotation-canvas" class="w-100 h-100 position-absolute" role="region"></div>
                </div>
            </div>

            <!-- Simplified Editor Control Bar -->
            <div id="editor-controlbar" class="py-2 px-3 d-flex align-items-center justify-content-between text-white">
                <div class="control-left">
                    <button id="editor-edit-btn" class="btn btn-dark btn-rounded iv-font-weight-bold text-uppercase d-none py-1 px-3 small"
                            title="{{#str}}edit, mod_interactivevideo{{/str}}" data-id="">
                        <i class="bi bi-pencil-fill iv-mr-2"></i>
                        {{#str}}edit, mod_interactivevideo{{/str}}
                    </button>
                </div>
                <div class="control-center top-bar d-flex align-items-center justify-content-center flex-grow-1 px-3">
                </div>
                <div class="control-right d-flex align-items-center">
                    <div class="btn-group btn-rounded" id="anno-nav">
                        <button id="prevanno" class="btn btn-dark btn-sm btn-rounded iv-font-weight-bold" title="{{#str}}previousanno, mod_flexbook{{/str}}">
                            <i class="bi bi-chevron-left dir-rtl-hide"></i>
                            <i class="bi bi-chevron-right dir-ltr-hide"></i>
                        </button>
                        <button id="currentanno" class="btn btn-dark btn-sm iv-font-weight-bold no-pointer px-2">
                            <span id="thisanno">0</span>/<span id="totalannos">0</span>
                        </button>
                        <button id="nextanno" class="btn btn-dark btn-sm btn-rounded iv-font-weight-bold" title="{{#str}}nextanno, mod_flexbook{{/str}}">
                            <i class="bi bi-chevron-right dir-rtl-hide"></i>
                            <i class="bi bi-chevron-left dir-ltr-hide"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Sidebar -->
        <div id="editor-sidebar" class="bg-white d-flex flex-column iv-border-left position-relative">
            <div id="sidebar-resize-handle" class="position-absolute" role="separator" aria-orientation="vertical"></div>
            <!-- Sidebar Toggle Button -->
            <button id="sidebar-toggle" class="btn btn-light border shadow-sm position-absolute" title="Toggle Sidebar">
                <i class="bi bi-chevron-right"></i>
            </button>

            <div class="sidebar-content d-flex flex-column h-100">
                <div class="p-0">
                    {{> mod_flexbook/editor/videoactions}}
                </div>
                <div class="flex-grow-1 overflow-auto">
                    {{> mod_flexbook/editor/annotationwrapper}}
                </div>
            </div>
        </div>
    </div>
    <!-- Hidden row template for JS cloning -->
    <div class="d-none">
        {{> mod_flexbook/editor/annotationlistitem }}
    </div>
</div>
{{! content type modal }}
{{> mod_flexbook/editor/addcontenttype }}

{{! bulk-action floating toolbar }}
{{> mod_flexbook/editor/bulktoolbar }}

{{> mod_interactivevideo/blocksettingshack }}
{{#hascourseindex}}
{{> mod_interactivevideo/courseindex}}
{{/hascourseindex}}

{{> mod_flexbook/data_containers }}
