{{!
    @template mod_flexbook/messagetitle

    TODO describe template messagetitle

    Example context (json):
    {
    }
}}
{{#title}}
<h5 class="modal-title text-truncate mb-0 d-flex align-items-center"
    id="modal-title-{{id}}"
    role="heading"
    aria-level="5">
    <i class="{{icon}} iv-mr-2 d-none d-md-inline fs-25px"
       aria-hidden="true"></i>
    <span class="text-truncate">{{{title}}}</span>
</h5>
{{/title}}
<div class="btns d-flex align-items-center">
    {{{completionbutton}}}
    {{#showinstructions}}
    {{{instructionstoggle}}}
    {{/showinstructions}}
    {{{headeractions}}}
    <button data-id="{{id}}"
            class="btn btn-flex fb-title-action iv-ml-2 p-0 border-0 interaction-dismiss"
            id="close-{{id}}"
            type="button"
            data{{bs}}-toggle="tooltip"
            data{{bs}}-container="#wrapper"
            data{{bs}}-trigger="hover"
            aria-label="{{#str}}close, mod_interactivevideo{{/str}}"
            title="{{#str}}close, mod_interactivevideo{{/str}}">
        <i class="bi bi-x-lg fs-25px" aria-hidden="true"></i>
        <span class="visually-hidden sr-only">{{#str}}close, mod_interactivevideo{{/str}}</span>
    </button>
</div>
