{{!
    @template mod_flexbook/canvas/instructionstoggle

    Toggle button for the instructions sidebar.

    Example context (json):
    {
        "id": 1
    }
}}
<button
    id="instructions-toggle"
    class="btn btn-flex fb-title-action fb-instructions-toggle iv-ml-2 p-0 border-0"
    type="button"
    data-id="{{id}}"
    data{{bs}}-toggle="tooltip"
    data{{bs}}-container="#wrapper"
    data{{bs}}-trigger="hover"
    title="{{#str}}instructions, mod_flexbook{{/str}}"
    aria-label="{{#str}}instructions, mod_flexbook{{/str}}"
    aria-pressed="false"
>
    <i class="bi bi-journal-text fs-25px" aria-hidden="true"></i>
    <span class="sr-only">{{#str}}instructions, mod_flexbook{{/str}}</span>
</button>
